div#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: whitesmoke;
    border: 0.01rem solid black;
    border-radius: 1%;
    width: 80vw;
    height: 80vh;
}

form {
    display: grid;
    font-size: 1.4rem;
     
}

form label {
    padding: 0.8rem;
    max-width: 0.8rem 0;
    display: flex;
    align-items: initial;
    justify-content:flex-start;
}

form .link {
    margin: 0 0 0 1.1rem;

}
