article {
    display: flex;
    height: 90%;
    width: 90%;
        
}
div.feedback-item{
    display: grid;
    grid: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    background:grey;
   
}
header.feedback-header {
   display: flex;
   justify-content: space-between;
   background:snow;
   height: 85px;
   border-top: black solid 2px;
}

div#feedback-container{
    display:inline-flex;
    box-sizing: content-box;
  
}